openapi: 3.0.1
info:
  title: Open Payments API
  version: 1.3.3
  description: >
    # Summary

    The Open Banking part of our API is based on The BerlinGroup NextGenPSD2 Framework with some additional services.

    For information on using these API's, please refer to our documentation.

    ## Some General Remarks Related to this version of the OpenAPI Specification:

    * According to the OpenAPI-Specification
    [https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md]
        "If in is "header" and the name field is "Accept", "Content-Type" or "Authorization", the parameter definition SHALL be ignored."
      The element "Accept" will not be defined in this file at any place.
      The elements "Content-Type" and "Authorization" are implicitly defined by the OpenApi tags "content" and "security".

  license:
    name: Creative Commons Attribution 4.0 International Public License
    url: https://creativecommons.org/licenses/by/4.0/
  contact:
    name: Open Payments Europe AB
    url: https://www.openpayments.io/
    email: info@openpayments.io
externalDocs:
  description: >
    Full Documentation of NextGenPSD2 Access to Account Interoperability
    Framework

    (General Introduction Paper, Operational Rules, Implementation Guidelines)
  url: https://www.berlin-group.org/nextgenpsd2-downloads

servers:
  - url: https://api.openbankingplatform.com
  - url: https://api.sandbox.openbankingplatform.com

paths:
  /premium/v1/payee-verifications:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: Premium products sandbox server
      - url: https://api.openbankingplatform.com
        description: Premium products production server
    post:
      summary: Submit Verification Request
      description: Returns a VoP result based on a creditor's name and IBAN.
      tags:
        - Verification of Payee (VoP)
      operationId: Submit Verification of Payee
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
      requestBody:
        $ref: '#/components/requestBodies/verificationOfPayee'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_VerificationOfPayee'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
  /premium/v1/bulk-payee-verifications:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: Premium products sandbox server
      - url: https://api.openbankingplatform.com
        description: Premium products production server
    post:
      summary: Submit Bulk Verification Request
      description: Returns VoP results for multiple creditors. 
      tags:
        - Verification of Payee (VoP)
      operationId: Submit Bulk Verification of Payee
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
      requestBody:
        $ref: '#/components/requestBodies/bulkVerificationOfPayee'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_BulkVerificationOfPayee'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        description: Returns VoP results 
  /premium/v1/creditor-name:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: Premium products sandbox server
      - url: https://api.openbankingplatform.com
        description: Premium products production server
    get:
      summary: Get Creditor Name
      description: Returns the name of the recipient based on their account information. 
      tags:
        - Bankgiro Lookup
      operationId: Get Creditor Name
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - name: giroNumber
          in: query
          required: true
          schema:
            type: string
        - name: giroType
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/giroType'
        - name: ocrRef
          in: query
          description: |
            **Must** be provided if `invoiceRef` is not.
          schema:
            $ref: '#/components/schemas/giroOcrReference'
        - name: invoiceRef
          in: query
          description: |
            **Must** be provided if `ocrRef` is not.
          schema:
            $ref: '#/components/schemas/giroInvoiceReference'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-ID'
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCreditorNameResponse'
              examples:
                Example:
                  $ref: '#/components/examples/GetCreditorNameResponseExample'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
  /premium/v1/giro-numbers:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: Premium products sandbox server
      - url: https://api.openbankingplatform.com
        description: Premium products production server
    get:
      summary: Get Giro Numbers
      description: Returns Bankgiro numbers associated with a company.
      tags:
        - Bankgiro Lookup
      operationId: Get Giro Numbers
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - name: psuCorporateId
          in: query
          required: true
          schema:
            type: string
        - name: giroType
          in: query
          schema:
            $ref: '#/components/schemas/giroType'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-ID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetGiroNumbersResponse'
              examples:
                Example:
                  $ref: '#/components/examples/GetGiroNumbersResponseExample'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
  /iso/payments:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: ISO sandbox server
      - url: https://api.openbankingplatform.com
        description: ISO production server
    post:
      tags:
        - ISO Payments
      operationId: Create Payment
      summary: Create Payment
      description: Initiates an ISO payment by submitting the required payment instructions. 
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/X-AffiliatedASPSP-ID'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/consentId_HEADER_optional'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      requestBody:
        $ref: '#/components/requestBodies/isoPaymentInitiation'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_IsoPaymentInitiation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
  /iso/payments/cross-border:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: ISO sandbox server
      - url: https://api.openbankingplatform.com
        description: ISO production server
    post:
      tags:
        - ISO Payments
      operationId: Create Payment (Cross-border)
      summary: Create Payment (Cross-border)
      description: Initiates an ISO payment by submitting cross-border payment instructions.
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/X-AffiliatedASPSP-ID'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/consentId_HEADER_optional'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
        - $ref: '#/components/parameters/FX-Quote-Id_mandatory'
      requestBody:
        $ref: '#/components/requestBodies/isoPaymentInitiationCrossBorder'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_IsoPaymentInitiation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
  /iso/beta/payments/sepa-direct-debit:
    servers:
      - url: https://api.openbankingplatform.com
        description: Premium products production server
    post:
      tags:
        - SEPA Direct Debit
      operationId: Create SEPA Direct Debit Payment
      summary: Create SEPA Direct Debit Payment (Beta)
      description: Initiates a SEPA Direct Debit payment by submitting direct debit payment instructions via ISO.
      security:
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/X-AffiliatedASPSP-ID'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/consentId_HEADER_optional'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/paymentInitiationSepaDirectDebit_json'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_PaymentInitiation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
  /iso/payments/{paymentId}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: ISO sandbox server
      - url: https://api.openbankingplatform.com
        description: ISO production server
    get:
      tags:
        - ISO Payments
        - SEPA Direct Debit
      operationId: Get Payment
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      summary: Get Payment
      description: Retrieves the details and status of an ISO payment.
      parameters:
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/X-AffiliatedASPSP-ID'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/consentId_HEADER_optional'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
        - $ref: '#/components/parameters/FX-Quote-Id'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_PaymentInitiationInformation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
  /iso/payments/confirm:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: ISO sandbox server
      - url: https://api.openbankingplatform.com
        description: ISO production server
    put:
      tags:
        - ISO Payments
        - SEPA Direct Debit
      operationId: Confirm Payment
      summary: Confirm Payment
      description: Confirms and finalizes a pending ISO payment and sends it for processing. Only confirmed payments are transmitted to the clearing system for execution. 
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/X-AffiliatedASPSP-ID'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/consentId_HEADER_optional'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'


      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmIsoPaymentRequest'
            examples:
              Example:
                $ref: '#/components/examples/ConfirmIsoPaymentRequestExample'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmIsoPaymentResponse'
              examples:
                Example:
                  $ref: '#/components/examples/ConfirmIsoPaymentResponseExample'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
  /premium/v1/payouts:
    servers:
      - url: https://api.openbankingplatform.com
        description: Premium products production server
    post:
      tags:
        - Payout Service
      operationId: Create Payout
      security:
        - oAuth2Production:
          - paymentinitiation corporate
      summary: Create Payout
      description: Initiates a payout request by submitting payment details.
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-ID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayoutRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePayoutResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
  /premium/v1/payouts/{payoutId}:
    servers:
      - url: https://api.openbankingplatform.com
        description: Premium products production server
    get:
      tags:
        - Payout Service
      operationId: Get Payout
      security:
        - oAuth2Production:
          - paymentinitiation corporate
      summary: Get Payout
      description: Returns the details and current status of a payout. 
      parameters:
        - name: payoutId
          description: ID of the generated payout resource.
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-ID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPayoutResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
  /premium/v1/payouts/confirm:
    servers:
      - url: https://api.openbankingplatform.com
        description: Premium products production server
    put:
      tags:
        - Payout Service
      operationId: Confirm Payout
      security:
        - oAuth2Production:
          - paymentinitiation corporate
      summary: Confirm Payout
      description: Confirms and finalizes a pending payout, triggering the disbursement of funds. Only confirmed payouts are sent to Bankgirot for processing.
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-ID'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmPayoutRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmPayoutResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDetails'
  /v1/bulk-payment:
    servers:
      - url: https://bulkpayment.openbankingplatform.com
        description: Bulk payment production server
    post:
      tags:
        - Bulk Payments
      summary: Create bulk payment
      description: Creates a bulk payment resource by parsing the XML contents in the posted body.
      parameters:
        - name: X-Request-ID
          in: header
          description: "Type: string (uuid)<br />\r\nDescription: ID of the request, unique to the call, as determined by the initiating party."
          required: true
          schema:
            type: string
          example: b81b5960-306d-449b-b375-eeec8d464511
        - name: X-Corporate-ID
          in: header
          description: "Type: string<br />\r\nDescription: Swedish 10 digit corporate organisation number."
          required: true
          schema:
            type: string
          example: '5524438362'
        - name: X-PaymentExecutionAdjustmentDays
          in: header
          description: "Type: integer<br />\r\nDescription: Number of valid bankdays to adjust payment execution day given in XML (positive or negative integer)."
          schema:
            type: string
          example: '1'
      requestBody:
        description: Bulk payment structure in JSON or ISO 20022 PAIN.001.001 XML format
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBulkPayment'
            example:
              bicFi: SWEDSESS
              numberOfTransactions: 2
              controlSum: 323.15
              domestic:
                - debtorAccount:
                    iban: SE4550000000058398257466
                  instructedAmount:
                    currency: SEK
                    amount: 123.05
                  creditorName: Acme AB
                  creditorAccount:
                    iban: SE1412000000000012345678
                  requestedExecutionDate: '2022-09-02'
                  remittanceInformationUnstructured: Invoice 1
              swedishGiro:
                - debtorAccount:
                    iban: SE4550000000058398257466
                  instructedAmount:
                    currency: SEK
                    amount: 200.1
                  creditorName: Acme AB
                  creditorGiro:
                    giroType: BANKGIRO
                    giroNumber: '1234-5678'
                  requestedExecutionDate: '2022-09-03'
                  invoiceRef: Invoice 1
          application/xml:
            schema:
              $ref: '#/components/schemas/XElement'
      responses:
        '201':
          description: "Created<br />\r\nThe resource was successfully created"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBulkPaymentOutput'
              example:
                bulkPaymentId: 6aa69579-fb15-421c-8c53-ddb778156f83
                status: valid
                latestAuthorisationDate: '2022-01-18'
                adjustedPaymentExecutionDate: '2022-01-23'
                numberOfAuthorisations: 1
                redirectUri: >-
                  https://openlink.openbankingplatform.com/approve-payment?context=612f3476-37d5-4ef3-8803-9cb67448810c&client_id=[CLIENT_ID]&redirect_uri=[REDIRECT_URI]&state=[STATE]&profile=default-sv&authoriser_ref=[AUTHORISER_REF]
        '400':
          description: "Bad Request<br />\r\nBulk payment input data invalid<br /><br />\r\n\"detail\" property may report the following errors:\r\n- \"Invalid organisation id ({organisationId})\"\r\n- \"Number of payment transactions ({countedPaymentTrns}) does not match with declared ({paymentNumTrns})\"\r\n- \"Invalid transaction amount ({trnsAmount})\"\r\n- \"Invalid BicFi ({bicFi})\"\r\n- \"Invalid payment execution date (PmtInf.ReqdExctnDt). {paymentExecutionDate} is a bank holiday.\"\r\n- \"Payment execution date (PmtInf.ReqdExctnDt) must be at least {n} banking days away.\"\r\n- \"Sum of transaction amounts ({totalTrnsSum}) does not match with declared control sum ({headerControlSum})\"\r\n- \"No transactions defined\"\r\n- \"Total number of transactions ({countedTrns}) does not match with declared ({headerNumTrns})\"\r\n- \"Payment BBAN or IBAN creditor account number not found\"\r\n- \"Invalid creditor name\"\r\n- \"Invalid IBAN debtor account number {accountNumber}\"\r\n- \"Invalid BBAN creditor account clearing number {clearingNumber}\"\r\n- \"Invalid BBAN creditor account number {accountNumber}\"\r\n- \"Invalid IBAN creditor account number {accountNumber}\"\r\n- \"ISO payment creation failed, code: {code} text: {text}\""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '401':
          description: "Unauthorised<br />\r\nAccess was not allowed"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/bulk-payment/{bulkPaymentId}/status:
    servers:
      - url: https://bulkpayment.openbankingplatform.com
        description: Bulk payment production server
    get:
      tags:
        - Bulk Payments
      summary: Get status of bulk payment and each of the included payments.
      description: Returns the status of the bulk payment resource and each included payment.
      parameters:
        - name: X-Request-ID
          in: header
          description: ID of the request, unique to the call, as determined by the initiating party.
          required: true
          schema:
            type: string
          example: 0926b69c-42f0-44d8-83d8-f458fa40c83f
        - name: bulkPaymentId
          in: path
          description: ID of the generated bulk payment resource.
          required: true
          schema:
            type: string
            format: uuid
          example: 6aa69579-fb15-421c-8c53-ddb778156f83
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkPaymentStatus'
              example:
                bulkPaymentId: 6aa69579-fb15-421c-8c53-ddb778156f83
                status: valid
                statusTime: '2022-02-05T13:05:53.334'
                payments:
                  - referenceId: SALA 202112 1
                    status: received
                    statusTime: '2022-02-05T13:05:53.334'
                  - referenceId: SALA 202112 2
                    status: received
                    statusTime: '2022-02-05T13:05:53.334'
                  - referenceId: SALA 202112 3
                    status: received
                    statusTime: '2022-02-05T13:05:53.334'
        '401':
          description: "Unauthorised<br />\r\nAccess was not allowed"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: "Not Found<br />\r\nThe requested resource was not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/bulk-payment/{bulkPaymentId}:
    servers:
      - url: https://bulkpayment.openbankingplatform.com
        description: Bulk payment production server
    delete:
      tags:
        - Bulk Payments
      summary: Cancel bulk payment and each of the included payments.
      description: "Cancels the bulk payment and each included payment."
      parameters:
        - name: X-Request-ID
          in: header
          description: "Type: string (uuid)<br />\r\nDescription: ID of the request, unique to the call, as determined by the initiating party."
          required: true
          schema:
            type: string
          example: b81b5960-306d-449b-b375-eeec8d464511
        - name: bulkPaymentId
          in: path
          description: "Type: string (uuid)<br />\r\nDescription: Bulk payment resource id."
          required: true
          schema:
            type: string
            format: uuid
          example: 6aa69579-fb15-421c-8c53-ddb778156f83
      responses:
        '204':
          description: "No Content<br />\r\nThe resource was successfully cancelled"
        '401':
          description: "Unauthorised<br />\r\nAccess was not allowed"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: "Forbidden<br />\r\nAccess to resource or resource operation was not allowed"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: "Not Found<br />\r\nThe requested resource was not found"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /v1/status-notification:
    servers:
      - url: https://bulkpayment.openbankingplatform.com
        description: Bulk payment production server
    post:
      tags:
        - Bulk Payments
      summary: Create status subscription
      description: Subscribes to the status of a bulk payment resource and each of the included payments.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkPaymentStatus'
            example:
              bulkPaymentId: 6aa69579-fb15-421c-8c53-ddb778156f83
              status: valid
              statusTime: '2022-02-05T13:05:53.334'
              payments:
                - referenceId: SALA 202112 1
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
                - referenceId: SALA 202112 2
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
                - referenceId: SALA 202112 3
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
          text/json:
            schema:
              $ref: '#/components/schemas/BulkPaymentStatus'
            example:
              bulkPaymentId: 6aa69579-fb15-421c-8c53-ddb778156f83
              status: valid
              statusTime: '2022-02-05T13:05:53.334'
              payments:
                - referenceId: SALA 202112 1
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
                - referenceId: SALA 202112 2
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
                - referenceId: SALA 202112 3
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BulkPaymentStatus'
            example:
              bulkPaymentId: 6aa69579-fb15-421c-8c53-ddb778156f83
              status: valid
              statusTime: '2022-02-05T13:05:53.334'
              payments:
                - referenceId: SALA 202112 1
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
                - referenceId: SALA 202112 2
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
                - referenceId: SALA 202112 3
                  status: received
                  statusTime: '2022-02-05T13:05:53.334'
          application/xml:
            schema:
              $ref: '#/components/schemas/BulkPaymentStatus'
            example: >-
              <BulkPaymentStatus
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <BulkPaymentId>6aa69579-fb15-421c-8c53-ddb778156f83</BulkPaymentId>
                <Status>valid</Status>
                <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                <Payments>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 1</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 2</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 3</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                </Payments>
              </BulkPaymentStatus>
          text/xml:
            schema:
              $ref: '#/components/schemas/BulkPaymentStatus'
            example: >-
              <BulkPaymentStatus
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <BulkPaymentId>6aa69579-fb15-421c-8c53-ddb778156f83</BulkPaymentId>
                <Status>valid</Status>
                <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                <Payments>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 1</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 2</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 3</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                </Payments>
              </BulkPaymentStatus>
          application/*+xml:
            schema:
              $ref: '#/components/schemas/BulkPaymentStatus'
            example: >-
              <BulkPaymentStatus
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <BulkPaymentId>6aa69579-fb15-421c-8c53-ddb778156f83</BulkPaymentId>
                <Status>valid</Status>
                <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                <Payments>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 1</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 2</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                  <PaymentStatus>
                    <ReferenceId>SALA 202112 3</ReferenceId>
                    <Status>received</Status>
                    <StatusTime>2022-02-05T13:05:53.334</StatusTime>
                  </PaymentStatus>
                </Payments>
              </BulkPaymentStatus>
      responses:
        '200':
          description: Success
  /kyc/integration/v1/new/{PSU-Corporate-ID}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: KYC sandbox server
      - url: https://api.openbankingplatform.com
        description: KYC production server
    post:
      tags:
        - KYC Service
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      summary: Create KYC
      description: >-
        Enter the `PSU-Corporate-ID` of the company for which to initiate the KYC process. This generates a KYC webform URL valid for 24 hours. If more time is needed, generate a new URL. This webform guides the user through the whole KYC process. To check if the KYC was successful poll the KYC Service's `/status` endpoint.
      operationId: new
      parameters:
        - name: PSU-Corporate-ID
          description: Corporate Client ID. This is typically the unique Corporate ID in the local format. E.g. Org. nummer for SE, KVK for NL.
          in: path
          required: true
          schema:
            type: string
            example: 123456-1234
        - name: countryCode
          in: query
          required: true
          description: ISO 3166 ALPHA2 country code
          schema:
            type: string
            example: SE
            pattern: '[A-Z]{2}'
        - $ref: '#/components/parameters/X-Request-ID'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartNewKycInstanceResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
  /kyc/integration/v1/status/{PSU-Corporate-ID}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: KYC sandbox server
      - url: https://api.openbankingplatform.com
        description: KYC production server
    get:
      tags:
        - KYC Service
      security:
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation corporate
      summary: Get KYC Status
      description: >-
        Returns the KYC status of the company. If the `kycStatus` is `Valid`, the company is allowed to make payments. If the `kycStatus` is `Invalid`, a new KYC process can be initiated via the KYC Service's /new endpoint.
      operationId: status
      parameters:
        - name: PSU-Corporate-ID
          description: Corporate Client ID. This is typically the unique Corporate ID in the local format. E.g. Org. nummer for SE, KVK for NL.
          in: path
          required: true
          schema:
            example: 123456-1234
            type: string
        - $ref: '#/components/parameters/X-Request-ID'
      responses:
        '200':
          $ref: '#/components/responses/getKycStatusResponse-200'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Server Error
  /psd2/paymentinitiation/v1/{payment-service}/{payment-product}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    post:
      summary: Create Payment
      description: >
        Initiates a payment at the ASPSP.

        ### Variants of Payment Initiation Requests

        List of supported `payment-product` values:
          - **domestic**
          - **swedish-giro**
          - **sepa-credit-transfers**
          - **cross-border**

        Furthermore the request body depends on the `payment-service`:
          * **payments**: A single payment initiation request.

         Single and mulitilevel SCA Processes

        The Payment Initiations are independent from their SCA requirements, which are created separately. 
        Some ASPSP's, especially in corporate contexts, require more than one authorisation from different PSUs.

      operationId: initiatePayment
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/X-AffiliatedASPSP-ID'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/consentId_HEADER_optional'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/FX-Quote-Id'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      requestBody:
        $ref: '#/components/requestBodies/paymentInitiation'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_PaymentInitiation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /psd2/paymentinitiation/v1/{payment-service}/{payment-product}/{paymentId}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get Payment
      description: Returns the content of a payment object.
      operationId: getPaymentInformation
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '200':
          $ref: '#/components/responses/OK_200_PaymentInitiationInformation'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '502':
          $ref: '#/components/responses/BAD_GATEWAY_502_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
    delete:
      summary: Cancel Payment
      description: >
        Initiates the cancellation of a payment. Depending on the `payment-service`, `payment-product` and the ASPSP's implementation, this request may be sufficient to cancel the payment. If the ASPSP requires authorisation for the cancellation, the response will include a hyperlink for that process. The payment identified by `paymentId` will be cancelled, provided the conditions related to the service, product, and timing (e.g. before end-of-day for scheduled payments) are met. 

      operationId: cancelPayment
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
      responses:
        '202':
          $ref: '#/components/responses/RECEIVED_202_PaymentInitiationCancel'
        '204':
          $ref: '#/components/responses/NO_CONTENT_204'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS_CANC'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /psd2/paymentinitiation/v1/{payment-service}/{payment-product}/{paymentId}/status:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get Payment Status
      description: Check the transaction status of a payment initiation.
      operationId: getPaymentInitiationStatus
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_PaymentInitiationStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '502':
          $ref: '#/components/responses/BAD_GATEWAY_502_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /psd2/paymentinitiation/v1/{payment-service}/{payment-product}/{paymentId}/authorisations:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    post:
      summary: Create Payment Authorisation
      description: >
        Initiates the authorisation process for a payment by creating an authorisation sub-resource, and providing a list of available SCA methods at the ASPSP.
      operationId: startPaymentAuthorisation
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      requestBody:
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_StartScaProcess'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
    get:
      summary: Get Payment Authorisations
      description: >
        Retrieves a list of all created authorisation sub-resource IDs. The response contains an array of hyperlinks pointing to each generated authorisation sub-resource.
      operationId: getPaymentInitiationAuthorisation
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_Authorisations'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /psd2/paymentinitiation/v1/{payment-service}/{payment-product}/{paymentId}/authorisations/{authorisationId}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get Payment Authorisation SCA Status
      description: >
        Returns the SCA status of a payment initiation's authorisation sub-resource.
      operationId: getPaymentInitiationScaStatus
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/authorisationId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '200':
          $ref: '#/components/responses/OK_200_ScaStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
    put:
      summary: Start Payment Authorisation
      description: >

        Starts the authorisation resource for the payment, using the selection of an authentication method to initiate SCA.  


#        This methods updates PSU data on the authorisation resource if needed. 

#        It may authorise a payment within the Embedded SCA Approach where
#       needed.


#        Independently from the SCA Approach it supports e.g. the selection of 

#        the authentication method and a non-SCA PSU authentication.


#        There are several possible Update PSU Data requests in the context of
#        payment initiation services needed, 

#        which depends on the SCA approach:


#        * Redirect SCA Approach:
#          A specific Update PSU Data Request is applicable for 
#            * the selection of authentication methods, before choosing the actual SCA approach.
#        * Decoupled SCA Approach:
#          A specific Update PSU Data Request is only applicable for
#          * adding the PSU Identification, if not provided yet in the Payment Initiation Request or the Account Information Consent Request, or if no OAuth2 access token is used, or
#          * the selection of authentication methods.
#        * Embedded SCA Approach: 
#          The Update PSU Data Request might be used 
#          * to add credentials as a first factor authentication data of the PSU and
#          * to select the authentication method and
#          * transaction authorisation.

#        The SCA Approach might depend on the chosen SCA method. 

#        For that reason, the following possible Update PSU Data request can
#        apply to all SCA approaches:


#        * Select an SCA method in case of several SCA methods are available for
#        the customer.

      operationId: updatePaymentPsuData
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/authorisationId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Authoriser-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/selectPsuAuthenticationMethod'
            examples:
              Select PSU Authentication Method (Embedded Approach):
                $ref: >-
                  #/components/examples/selectPsuAuthenticationMethodExample_MbidAnimated
      responses:
        '200':
          $ref: '#/components/responses/OK_200_UpdatePsuData'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /psd2/paymentinitiation/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    post:
      summary: Create Payment Cancellation Authorisation
      description: >
        Initiates the authorisation process for a payment cancellation by creating an authorisation sub-resource, and providing a list of available SCA methods at the ASPSP.
      operationId: startPaymentInitiationCancellationAuthorisation
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_StartScaProcess'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
    get:
      summary: Get Payment Cancellation Authorisations
      description: |
        Retrieve a list of all created cancellation authorisation sub-resources.
      operationId: getPaymentInitiationCancellationAuthorisationInformation
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'        
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_CancellationList'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /psd2/paymentinitiation/v1/{payment-service}/{payment-product}/{paymentId}/cancellation-authorisations/{cancellationId}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get Payment Cancellation Authorisation SCA Status
      description: >
        Returns the SCA status of a payment cancellation's authorisation sub-resource.
      operationId: getPaymentCancellationScaStatus
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/cancellationId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_ScaStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
    put:
      summary: Start Payment Cancellation Authorisation
      description: >
        Starts the authorisation resource for the payment cancellation, using the selection of an authentication method to initiate SCA. 

      operationId: updatePaymentCancellationPsuData
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/paymentService'
        - $ref: '#/components/parameters/paymentProduct'
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/cancellationId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Authoriser-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/selectPsuAuthenticationMethod'
            examples:
              Select PSU Authentication Method (Embedded Approach):
                $ref: >-
                  #/components/examples/selectPsuAuthenticationMethodExample_MbidAnimated
      responses:
        '200':
          $ref: '#/components/responses/OK_200_UpdatePsuData'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_PIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_PIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_PIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_PIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_PIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_PIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /psd2/paymentinitiation/v1/signing-baskets:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    post:
      summary: Create Signing Basket
      description: >
        Create a signing basket resource for authorising several transactions
        with one SCA method. 

        The resource identifications of these transactions are contained in the 
        payload of this access method. 
      operationId: createSigningBasket
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/consentId_HEADER_optional'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      requestBody:
        $ref: '#/components/requestBodies/signingBasket'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_SigningBasket'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_SBS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_SBS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_SBS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_SBS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_SBS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_SBS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_SBS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_SBS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_SBS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_SBS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_SBS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_SBS'
  /psd2/paymentinitiation/v1/signing-baskets/{basketId}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get Signing Basket
      description: Returns the content of an signing basket object.
      operationId: getSigningBasket
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/basketId_PATH'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'        
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '200':
          $ref: '#/components/responses/OK_200_GetSigningBasket'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_SBS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_SBS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_SBS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_SBS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_SBS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_SBS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_SBS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_SBS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_SBS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_SBS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_SBS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_SBS'
    delete:
      summary: Delete Signing Basket
      description: >
        Deletes a signing basket, provided that no authorisation has started yet. This does not delete the underlying payments within the signing basket.

        **Note:** A signing basket cannot be deleted once an authorisation is started (even partially). However, underlying payments can be cancelled on an individual basis through the XS2A interface.
      operationId: deleteSigningBasket
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/basketId_PATH'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '202':
          $ref: '#/components/responses/ACCEPTED_202_SBS'
        '204':
          $ref: '#/components/responses/NO_CONTENT_204'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_SBS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_SBS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_SBS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_SBS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_SBS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_SBS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_SBS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_SBS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_SBS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_SBS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_SBS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_SBS'
  /psd2/paymentinitiation/v1/signing-baskets/{basketId}/status:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get Signing Basket Status
      description: |
        Returns the status of a signing basket object. 
      operationId: getSigningBasketStatus
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/basketId_PATH'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '200':
          $ref: '#/components/responses/OK_200_SigningBasketStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_SBS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_SBS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_SBS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_SBS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_SBS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_SBS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_SBS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_SBS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_SBS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_SBS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_SBS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_SBS'
  /psd2/paymentinitiation/v1/signing-baskets/{basketId}/authorisations:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    post:
      summary: Create Signing Basket Authorisation
      description: >
        Initiates the authorisation process for a signing basket by creating an authorisation sub-resource, and providing a list of available SCA methods at the ASPSP.
      operationId: startSigningBasketAuthorisation
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/basketId_PATH'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_StartScaProcess'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_SBS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_SBS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_SBS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_SBS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_SBS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_SBS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_SBS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_SBS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_SBS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_SBS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_SBS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_SBS'
  /psd2/paymentinitiation/v1/signing-baskets/{basketId}/authorisations/{authorisationId}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    put:
      summary: Start Signing Basket Authorisation
      description: >
        Starts the authorisation resource for the signing basket, using the selection of an authentication method to initiate SCA. 
      operationId: updateSigningBasketPsuData
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/basketId_PATH'
        - $ref: '#/components/parameters/authorisationId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Authoriser-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      requestBody:
        content:
          application/json:
            schema:
                $ref: '#/components/schemas/selectPsuAuthenticationMethod'
            examples:
              Select PSU Authentication Method (Embedded Approach):
                $ref: >-
                  #/components/examples/selectPsuAuthenticationMethodExample_MbidAnimated
      responses:
        '200':
          $ref: '#/components/responses/OK_200_UpdatePsuData'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_SBS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_SBS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_SBS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_SBS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_SBS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_SBS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_SBS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_SBS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_SBS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_SBS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_SBS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_SBS'
    get:
      summary: Get Signing Basket Authorisation SCA Status
      description: >
        Returns the SCA status of a signing basket's authorisation
        sub-resource.
      operationId: getSigningBasketScaStatus
      tags:
        - Payment Initiation Service (PIS)
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/basketId_PATH'
        - $ref: '#/components/parameters/authorisationId'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '200':
          $ref: '#/components/responses/OK_200_ScaStatus'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_SBS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_SBS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_SBS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_SBS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_SBS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_SBS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_SBS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_SBS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_SBS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_SBS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_SBS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_SBS'
  /psd2/paymentinitiation/v1/fx:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    post:
      summary: Create FX Quote
      description: |
        Requests an FX Quote for cross-border payments.
      operationId: createFxQuote
      tags:
        - Payment Initiation Service (PIS)
        - FX Connect
      security:
        - oAuth2Sandbox:
            - paymentinitiation private
        - oAuth2Sandbox:
            - paymentinitiation corporate
        - oAuth2Production:
            - paymentinitiation private
        - oAuth2Production:
            - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      requestBody:
        $ref: '#/components/requestBodies/fxQuote'
      responses:
        '201':
          $ref: '#/components/responses/CREATED_201_FxQuote'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
  /psd2/paymentinitiation/v1/fx/{fxQuoteId}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get FX Quote
      description: |
        Get an existing FX Quote.
      operationId: getFxQuote
      tags:
        - Payment Initiation Service (PIS)
        - FX Connect
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/fxQuoteId_PATH'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'

      responses:
        '200':
          $ref: '#/components/responses/OK_200_GetFxQuote'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
    put:
      summary: Confirm Cross-Border Payment
      description: |
        Confirm intent to initiate a cross-border payment with an FX Quote.
      operationId: confirmCrossBorderPaymentIntent
      tags:
        - FX Connect
      security:
        - oAuth2Sandbox:
          - paymentinitiation private
        - oAuth2Sandbox:
          - paymentinitiation corporate
        - oAuth2Production:
          - paymentinitiation private
        - oAuth2Production:
          - paymentinitiation corporate
      parameters:
        - $ref: '#/components/parameters/fxQuoteId_PATH'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
      requestBody:
        $ref: '#/components/requestBodies/confirmCrossBorderPaymentIntent'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_ConfirmCrossBorderPaymentIntent'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_PIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_PIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_PIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_PIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_PIS'
        
  /psd2/accountinformation/v1/accounts:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get Account List
      description: >
        Retrieves information on all available accounts based on the PSU's granted consent. It assumes that consent has already been provided and stored by the ASPSP. The addressed list of accounts depends on the `PSU-ID` and the stored consent addressed by `consentId`, respectively the OAuth2 access token. The accounts returned are limited to those authorised in the consent. Each account entry includes relevant details and links to further resources such as balances and transactions. If the consent permits access to all available accounts, the response will include all of the PSU's payment accounts held at the ASPSP. 
      operationId: getAccountList
      tags:
        - Account Information Service (AIS)
      security:
        - oAuth2Sandbox:
          - accountinformation private
        - oAuth2Sandbox:
          - accountinformation corporate
        - oAuth2Sandbox:
          - accountinformation bankgiroinformation corporate
        - oAuth2Production:
          - accountinformation private
        - oAuth2Production:
          - accountinformation corporate
        - oAuth2Production:
          - accountinformation bankgiroinformation corporate
      parameters:
        - $ref: '#/components/parameters/withBalanceQuery'
        - $ref: '#/components/parameters/X-Request-ID'
        - $ref: '#/components/parameters/X-BicFi'
        - $ref: '#/components/parameters/PSU-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID'
        - $ref: '#/components/parameters/PSU-Corporate-ID-Type'
        - $ref: '#/components/parameters/consentId_HEADER_mandatory'
        - $ref: '#/components/parameters/PSU-IP-Address_mandatory'
        - $ref: '#/components/parameters/PSU-User-Agent_mandatory'
        - $ref: '#/components/parameters/TPP-Redirect-Preferred'
        - $ref: '#/components/parameters/X-ISO-Fallback-Enabled'
      responses:
        '200':
          $ref: '#/components/responses/OK_200_AccountList'
        '204':
          $ref: '#/components/responses/NO_CONTENT_204'
        '400':
          $ref: '#/components/responses/BAD_REQUEST_400_AIS'
        '401':
          $ref: '#/components/responses/UNAUTHORIZED_401_AIS'
        '403':
          $ref: '#/components/responses/FORBIDDEN_403_AIS'
        '404':
          $ref: '#/components/responses/NOT_FOUND_404_AIS'
        '405':
          $ref: '#/components/responses/METHOD_NOT_ALLOWED_405_AIS'
        '406':
          $ref: '#/components/responses/NOT_ACCEPTABLE_406_AIS'
        '408':
          $ref: '#/components/responses/REQUEST_TIMEOUT_408_AIS'
        '409':
          $ref: '#/components/responses/CONFLICT_409_AIS'
        '415':
          $ref: '#/components/responses/UNSUPPORTED_MEDIA_TYPE_415_AIS'
        '429':
          $ref: '#/components/responses/TOO_MANY_REQUESTS_429_AIS'
        '500':
          $ref: '#/components/responses/INTERNAL_SERVER_ERROR_500_AIS'
        '503':
          $ref: '#/components/responses/SERVICE_UNAVAILABLE_503_AIS'
  /psd2/accountinformation/v1/accounts/{account-id}:
    servers:
      - url: https://api.sandbox.openbankingplatform.com
        description: PSD2 sandbox server
      - url: https://api.openbankingplatform.com
        description: PSD2 production server
    get:
      summary: Get Account Details
      description: >
        Reads details about an account, with balances where required. It is assumed that a consent of the PSU to this access is already given and stored on the ASPSP system. The addressed details of this account depends then on the stored consent
        addressed by `consentId`, respectively the OAuth2 access token.


        **NOTE:** The `account-id` can represent a multicurrency account. In this case the currency code is set to "XXX".

[...]
